.button {
    background: $blue;
    border: none;
    color: white;
    display: inline-block;
    font-size: $font-size-large;
    font-weight: 300;
    padding: $s-size;
    text-decoration: none;
    line-height: 1;
}
.delete-button-container{
    display: flex;
    justify-content: flex-end;
    padding: 30px 0px;
}
.delete-button {
    font-size: 40px;
    color: red;
    font-weight: 600;
}